table {
  border-collapse: collapse;
}

td{
  background-color: greenyellow;
}
table, td{
  font-size:35px;
  border: 1px solid black;
}
#coin {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #98f127;
  margin: auto;
}
