
<%= stylesheet_link_tag 'index.css' %>
<h1>Home</h1>
<%= button_to 'Cinemas On Screen', { :action => 'cinema_list' }, :method => :get %>
<%= button_to 'Show Time', { :action => 'show_time' }, :method => :get %>


