table {
    border-collapse: collapse;
    width:25%;
}

table, td, th {
    border: 1px solid black;
}
.button_to{
    border: none;
    padding: 10px 150px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
}